<div class="list-container">
  <div class="list-header">
    <h2>Notifications</h2>
  </div>

  <mat-table [dataSource]="service.notifications()" class="list-table">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.title }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef>Message</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.message }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.type }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="readStatus">
      <mat-header-cell *matHeaderCellDef>Read Status</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.readStatus }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" />
    <mat-row *matRowDef="let row; columns: displayedColumns" />
  </mat-table>
</div>
